format = """
[╭─]()[](#262626)\
$os\
$username\
[](fg:#262626 bg:#5896FF)\
$directory\
[](fg:#5896FF bg:#8700FF)\
$git_branch\
$git_status\
[](fg:#8700FF bg:#DCCB71)\
$java\
$golang\
$rust\
$nodejs\
$c\
$python\
$conda\
$rlang\
$scala\
$julia\
$elm\
$nim\
$elixir\
$haskell\
$package\
$docker_context\
[](fg:#DCCB71 bg:#DFDFDF)\
$time\
[ ](fg:#DFDFDF)\
\n[╰─]()\
$status\
$character
"""

continuation_prompt = "▶▶"

# Disable the blank line at the start of the prompt
# add_newline = false

# An alternative to the username module which displays a symbol that
# represents the current operating system
[os]
disabled = true # Disabled by default
style = "bg:#262626"
[os.symbols]
Macos = "  "

# You can also replace your username with a neat symbol like   or disable this
# and use the os module below
[username]
show_always = true
style_user = "fg:#EEEEEE bg:#262626"
style_root = "fg:#EEEEEE bg:#262626"
format = '[$user ]($style)'
disabled = false

[directory]
style = "fg:#EEEEEE bg:#5896FF"
format = "[ $path ]($style)"
truncation_length = 3
truncation_symbol = "…/"

# Here is how you can shorten some long paths by text replacement
# similar to mapped_locations in Oh My Posh:
[directory.substitutions]
"Documents" = " "
"Downloads" = " "
"Music" = " "
"Pictures" = " "
# Keep in mind that the order matters. For example:
# "Important Documents" = "  "
# will not be replaced, because "Documents" was already substituted before.
# So either put "Important Documents" before "Documents" or use the substituted version:
# "Important  " = "  "

[git_branch]
symbol = ""
style = "fg:#EEEEEE bg:#8700FF"
format = '[ $symbol $branch ]($style)'

[git_status]
style = "fg:#EEEEEE bg:#8700FF"
format = '[$all_status$ahead_behind ]($style)'

[java]
symbol = ""
style = "fg:#161616 bg:#DCCB71"
format = '[ $symbol ($version) ]($style)'

[golang]
symbol = ""
style = "fg:#161616 bg:#DCCB71"
format = '[ $symbol ($version) ]($style)'

[rust]
symbol = ""
style = "fg:#161616 bg:#DCCB71"
format = '[ $symbol ($version) ]($style)'

[nodejs]
symbol = ""
style = "fg:#161616 bg:#DCCB71"
format = '[ $symbol ($version) ]($style)'

[c]
symbol = ""
style = "fg:#161616 bg:#DCCB71"
format = '[ $symbol ($version) ]($style)'

[python]
symbol = ""
style = "fg:#161616 bg:#DCCB71"
format = '[ $symbol ($version) ]($style)'

[conda]
symbol = ""
style = "fg:#161616 bg:#DCCB71"
format = '[ $symbol ($version) ]($style)'

[rlang]
symbol = "ﳒ"
style = "fg:#161616 bg:#DCCB71"
format = '[ $symbol ($version) ]($style)'

[scala]
symbol = ""
style = "fg:#161616 bg:#DCCB71"
format = '[ $symbol ($version) ]($style)'

[julia]
symbol = ""
style = "fg:#161616 bg:#DCCB71"
format = '[ $symbol ($version) ]($style)'

[elm]
symbol = ""
style = "fg:#161616 bg:#DCCB71"
format = '[ $symbol ($version) ]($style)'

[nim]
symbol = ""
style = "fg:#161616 bg:#DCCB71"
format = '[ $symbol ($version) ]($style)'

[elixir]
symbol = ""
style = "fg:#161616 bg:#DCCB71"
format = '[ $symbol ($version) ]($style)'

[haskell]
symbol = " "
style = "fg:#161616 bg:#DCCB71"
format = '[ $symbol ($version) ]($style)'

[package]
disabled = false
symbol = ""
style = "fg:#161616 bg:#DCCB71"
version_format = 'v${raw}'
format = '[ $symbol $version ]($style)'

[docker_context]
disabled = true
symbol = ""
style = "bg:#AFD7FF"
format = '[ $symbol $context ]($style) $path'

[time]
disabled = false
time_format = "%R" # Hour:Minute Format
style = "fg:#161616 bg:#DFDFDF"
format = '[  $time ]($style)'

[status]
style = 'fg:#EEEEEE bg:#FF4F58'
symbol = ''
format = '[[](fg:#FF4F58)$status $common_meaning$signal_name [](fg:#FF4F58)]($style)'
map_symbol = true
disabled = false
